@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

@theme {
  --font-roboto: "Roboto", serif;
  --font-lexend: "Lexend", serif;
  --color-primary: #1677bd;
  --color-secondary: #1e1e1e;
  --color-accent: #232323;
  --color-acent2: #afafaf;
  --shadow-searhShadow: 0px 12px 20px 0px #00000005;
}

/* Reuse Code  */
.footerHeading {
  @apply text-xl font-bold font-lexend leading-[25px];
}
.sliderArrow {
  @apply size-[59px] bg-white flex justify-center items-center rounded-full cursor-pointer z-50;
}
